/* common shared styles */

body {
    margin: 0%;
  font-family: sans-serif, "Open Sans";
  /* font-family: 'Roboto', sans-serif; */
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;

  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
}

/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-tittle {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
 
/* header related styles */

.header {
 background-color: var(--white-color, #FFF8F3);

}
 .banner { 
    padding: 30px 30px 30px 200px;    
    display: flex;
    align-items: center;
 }

 .banner .pic {
    width: 500px;
 }